/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

 params {
  // illumina iGenomes reference file paths on cluster
  genomes {
    'hg38' {
      bwa     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/"
      gtf     = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/Annotation/Genes.gencode/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      chrom_sizes = "${params.igenomes_base}/Homo_sapiens/UCSC/hg38/genome.chrom.sizes"
      }
    'GRCh37' {
      bwa     =  "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex/"
      gtf     = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      chrom_sizes = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/genome.chrom.sizes"
    }
    'GRCm38' {
      bwa     = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/BWAIndex/"
      gtf     = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      chrom_sizes = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/genome.chrom.sizes"
    }
    'Rnor_6.0' {
      bwa     = "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/BWAIndex/"
      gtf     = "${params.igenomes_base}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.gtf"
      adapters = "$baseDir/bin/adapters.fa"
      chrom_sizes = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/genome.chrom.sizes"
    }
  }
}
